@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Montserrat&display=swap');

:root
{
    --col-accent-lighter: #acf;
    --col-accent: #69f;
    --col-background-lighter: #336;
    --col-background: #224;
    --col-background-darker: #1f1e33; /* CAMELLIA GOD */
    --col-background-darkest: #090920;
}

body
{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--col-background-darker);
    color: white;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

a
{
    text-decoration: none;
    color: var(--col-accent);
}

.header
{
    text-align: center;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding: 0.5rem;
    background-color: var(--col-background-lighter);
    color: white;
}

.footer
{
    width: 100%;
    text-align: center;
    background-color: var(--col-background-darkest);
    padding-bottom: 0.5rem;
}

.items-container
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.section
{
    display: flex;
    flex-flow: row nowrap;
    width: 25%;
    padding: 0.5rem;
    background-color: var(--col-background);
    box-sizing: border-box;
}

.box-item
{
    display: inline-block;
    color: white;
    border-left: 4px solid var(--col-accent);
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    background-color: var(--col-background-darker);
    border-radius: 4px;
}

.item-title
{
    font-weight: 700;
    font-size: 2rem;
}

.item-description
{
    font-size: 1rem;
    font-weight: 400;
}

.box-item:hover
{
    border-left-color: var(--col-accent-lighter);
}

.social-icons
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0.5rem;
}

.social-icons>a
{
    margin-left: 1rem;
    margin-right: 1rem;
}

.social-icons>a>img
{
    height: 2rem;
}

hr
{
    height: 1px;
    border: none;
    background-color: var(--col-accent-lighter);
    margin: 0.5rem;
}

ul
{
    display: inline-block;
    text-align: left;
    margin: auto;
}

.section-header
{
    padding-left: 0.5rem;
    font-size: 2rem;
}

.item-tags
{
    display: flex;
    flex-flow: row wrap;
}

.tag
{
    color: var(--col-accent-lighter);
    margin-right: 0.25rem;
}

.tag:not(:last-child)::after
{
    content: "-";
    margin-left: 0.25rem;
}

@media only screen and (max-width: 800px)
{
    .items-container
    {
        flex-flow: column nowrap;
    }

    .section
    {
        width: 100%;
    }
}
