*
{
    box-sizing: border-box;
}

body
{
    --col-text: #ABB2BF;
    --col-background: #282C34;
    --highlight-class: #E5C064;
    --highlight-prop: #E06C6F;
    --highlight-str: #98C36E;
    --highlight-num: #D19A66;
    --highlight-keyword: #C678DD;
    
    margin: 0;
    background-color: #21252B;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: var(--col-text);
}

a
{
    color: var(--col-text);
}

a.nav:hover
{
    color: white;
}

a.current
{
    color: white;
}

.header
{
    background-color: var(--col-background);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.profile-items
{
    display: flex;
    flex-flow: column nowrap;
}

.profile-items>div
{
    margin-top: 2rem;
}

.box
{
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.profile
{
    background-color: var(--col-background);
}

.terminal
{
    background-color: black;
}

.tab
{
    margin-left: 4rem;
}
.untab
{
    margin-left: -4rem;
}

.highlight-class
{
    color: var(--highlight-class);
}

.highlight-prop
{
    color: var(--highlight-prop);
}

.highlight-str
{
    color: var(--highlight-str);
}

.highlight-num
{
    color: var(--highlight-num);
}

/* .highlight-keyword
{
    color: var(--highlight-keyword);
} */
