@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Montserrat&display=swap');

:root
{
    --col-background-lighter: #336;
    --col-background: #224;
    --col-background-darker: #1f1e33; /* CAMELLIA GOD */
}

body
{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--col-background-darker);
    color: white;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

a
{
    text-decoration: none;
}

.header
{
    text-align: center;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding: 0.5rem;
    background-color: var(--col-background-lighter);
}

.footer
{
    width: 100%;
    text-align: center;
    background-color: black;
    padding-bottom: 0.5rem;
}

.projects
{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    height: 100%;
    background-color: var(--col-background);
    flex-grow: 1;
    justify-content: center;
}

.project
{
    width: 100%;
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    font-size: 2em;
    color: white;
    display: inline-flex;
    position: relative;
}

.project-background
{
    position: absolute;
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.project-overlay
{
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.project-title
{
    display: block;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
}

.project-description
{
    font-style: italic;
    flex-shrink: 1;
}

.project:hover
{
    flex-grow: 1;
}
